footer {
  padding-top: 112px;
  padding-bottom: 32px;
  background: url("../../images/bg-footer.jpg") lightgray 50% / cover no-repeat;

  .content-footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    .logo-footer {
      a {
        text-decoration: none;
      }
    }

    .navigation-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .links-footer {
        display: flex;
        flex-direction: column;
        gap: 2px;

        p {
          margin-bottom: 24px;
          color: #fff;
          font-family: $font-syncopate;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 124%;
          text-transform: uppercase;
        }

        a {
          text-decoration: none;
          color: #fff;
          font-family: $font-montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 124%;
        }
      }

      .social-items {
        .imgs-social {
          display: flex;
          gap: 8px;
        }
      }
    }

    .content-anbima {
      img {
        margin-right: 4px;
        border-radius: 2px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .about-footer {
    margin-top: 48px;
    p {
      margin: 0;
      color: #fff;
      text-align: justify;
      font-family: $font-montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
    }
  }

  .last-footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 72px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    p {
      margin: 0;
      color: #fff;
      font-family: $font-montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 124%;
    }

    .links-last-footer {
      display: flex;
      align-items: center;

      a:nth-child(1) {
        &:after {
          content: "";
          width: 1px;
          height: 12px;
          background-color: #fff;
          margin: 0 24px;
          position: relative;
          display: inline-table;
        }
      }

      a {
        text-decoration-line: underline;
        color: #fff;
        font-family: $font-montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }
    }
  }
}
