.header-internal {
  position: relative;

  .img-header {
    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @media (max-width: 991px) {
      height: 400px;
    }

    @media (max-width: 767px) {
      height: 350px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #14141424 50% / cover no-repeat;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .main-content-header-internal {
    position: absolute;
    max-height: 350px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 60px;
    align-items: center;
    gap: 24px;

    .title-internal {
      h1 {
        margin: 0;
        padding: 0;

        color: #fff;
        text-align: center;
        font-family: $font-syncopate;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        text-transform: uppercase;

        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 36px;
        }

        @media (max-width: 767px) {
          font-size: 28px;
          line-height: 32px;
        }
      }
    }

    .breadcrumb {
      all: initial;

      a {
        text-decoration: none;
        color: #fff;
        font-family: $font-montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;

        // &:hover {
        //   color: #f7f7f7;
        // }

        &:not(.current):after {
          content: url("../../images/arrow-breadcrumb.svg");
          margin-left: 16px;
          padding: 4px 6px;
        }
      }

      a.current {
        margin-left: 24px;
        color: #ffffff;
        font-weight: 500;
      }
    }
  }
}
